@model Turnament.Models.Tournament

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5" style="max-width: 700px">
    <h1>Usuń</h1>
    <h3>Czy napewno chcesz usunąć ten turniej?</h3>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-3">
                Nazwa
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                Opis
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                Data rozpoczęcia
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-3">
                Data zakończenia
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-3">
                Sport
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Sport.Name)
            </dd>
            <dt class="col-sm-3">
                Rodzaj eliminacji
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BracketType.Name)
            </dd>
            <dt class="col-sm-3">
                Organizator
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Creator.Username)
            </dd>
            <dt class="col-sm-3">
                Zwycięsca
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.WinnerTeam.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <a asp-action="Index" class="btn btn-primary">Anuluj</a>
            <button type="submit" class="btn btn-danger">Usuń</button>
        </form>
    </div>
</div>
