@using System.Security.Claims
@model Turnament.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="max-width: 600px">
    <h1>Turniej @Model.Name</h1>

    <div>
        <hr/>

        <dl class="row">
            <dt class="col-sm-4">
                Nazwa
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            @if (Model.Description != null)
            {
                <dt class="col-sm-4">
                    Opis
                </dt>

                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            }
            <dt class="col-sm-4">
                Data rozpoczęcia
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-4">
                Data zakończenia
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-4">
                Dyscyplina
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sport.Name)
            </dd>
            <dt class="col-sm-4">
                Rodziaj eliminacji
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BracketType.Name)
            </dd>
            <dt class="col-sm-4">
                Organizator
            </dt>
            <dd class="col-sm-8">
                <a class="text-dark nav-link" asp-controller="Users" asp-action="Details"
                   asp-route-id="@Model.Id">@Html.DisplayFor(model => model.Creator.Username)</a>
            </dd>
            @if (Model.WinnerTeamId != null)
            {
                <dt class="col-sm-4">
                    Zwycięsca
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.WinnerTeam.Name)
                </dd>
            }
        </dl>
    </div>
    <div>
        @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.CreatorId.ToString())
        {
            <form asp-controller="TournamentBracket" asp-action="Generate" method="post">
                <input type="hidden" name="tournamentId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Generuj drabinkę</button>
            </form>


            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edytuj</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Usuń</a>
        }
        <a asp-action="Teams" asp-route-id="@Model.Id" class="btn btn-info">Drużyny</a>
        <a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
    </div>

</div>
