@using System.Security.Claims
@model IEnumerable<Turnament.Models.Tournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Turnieje</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Zorganizuj nowy turniej</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Data rozpoczęcia
            </th>
            <th>
                Data zakończenia
            </th>
            <th>
                Dyscyplina
            </th>
            <th>
                Rodzaj eliminacji
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BracketType.Name)
            </td>
            <td style="text-align: end">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Zobacz</a>
            </td>
        </tr>
}
    </tbody>
</table>
