@using System.Security.Claims
@model List<Team>

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center">
    <h1>Drużyny</h1>

    @if (ViewBag.UserTeams != null)
    {
        <form asp-action="Join"
              asp-route-tournamentId="@ViewBag.TournamentId"
              method="post"
              style="display: flex; flex-direction: row; justify-content: space-between; align-items: end; width: 200px"
        >
            <div>
                <label>Wybierz drużynę:</label>
                <select name="teamId" asp-items="ViewBag.UserTeams" class="form-control"></select>
            </div>


            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    }

</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Data założenia
        </th>
        <th>
            Założyciel
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Creator.Id">
                    @Html.DisplayFor(modelItem => item.Creator.Username)
                </a>
            </td>
            <td style="text-align: end; width: 10em">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Zobacz</a>
                @if (User.Identity is { IsAuthenticated: true }
                     && (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == item.CreatorId.ToString() 
                         || User.FindFirst(ClaimTypes.NameIdentifier)?.Value == ViewBag.TournamentId))
                {
                    <form
                        asp-action="Leave"
                        asp-route-tournamentId="@ViewBag.TournamentId"
                        method="post"
                        style="display: inline-block">

                        <input type="hidden" name="teamId" value="@item.Id" />

                        <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>