@using System.Security.Claims
@model Turnament.Models.Team

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="max-width: 600px">

    <h1>Drużyna @Model.Name</h1>

    <div>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">
                Nazwa
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                Data założenia
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-3">
                Założyciel
            </dt>
            <dd class="col-sm-9">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Creator.Id">
                    @Html.DisplayFor(model => model.Creator.Username)
                </a>
            </dd>
        </dl>
    </div>
    <div>
        @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.Creator.Id.ToString())
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edytuj</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Usuń</a>
            <a asp-action="TeamInvitation" asp-route-id="@Model.Id" class="btn btn-primary">Zgłoszenia</a>
            
        }
        <a asp-action="TeamMembers" asp-route-id="@Model.Id" class="btn btn-info">Zawodnicy</a>
        <a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
    </div>
</div>