@model List<User>

@{
    ViewData["Title"] = "Zawodnicy";
}

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
    <h1>Zawodnicy drużyny</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Nazwa użytkownika
        </th>
        <th>
            Email
        </th>
        <th>
            Data dołączenia
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => player.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.CreatedAt)
            </td>
            <td style="text-align: end; width: 10em">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@player.Id" class="btn btn-primary btn-sm">Profil</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Details" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-secondary">Powrót</a>
</div>